@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">welcome</h1>
    <p>to media library back-office system</p>
    <p>your last visit: @ViewData["LastVisit"]</p>
</div>
